<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stu1</key>
	<string>施赛峰</string>
	<key>stu2</key>
	<string>孙俊</string>
	<key>stu3</key>
	<string>赵宁</string>
	<key>cars</key>
	<array>
		<string>奔驰</string>
		<string>宝马</string>
		<string>VOLVO</string>
	</array>
</dict>
</plist>
