/* 设置主要内容区域，块的属性 */
#c1,#c3{
    background-color:#fff;
}
#c2,#c4{
    background-color:#1da;
}

/* 默认宽度，满屏宽 */
#c1,#c2,#c3,#c4{
    height:auto;
}

/* 第一块中左右两部分 */
#c1left{
    width:40%;
    background-color:#456;
    float:left;
}

#c1right{
    width:60%;
    background-color:#af6;
    /* 相对定位 
    position:relative;
    left:45%;
    top:-520px;
    */
    float:right;
}







